@{
    ViewData["Title"] = "Home Page";
}

@model Dish
<div class="text-center">
    <h1>@Model.Name</h1>
    <div style="text-align: left; margin-left: auto; margin-right: auto; margin-top:20px;">

        <h3><u>@Model.Name by @Model.Chef</u></h3>

        <ul style="list-style-type: none;">

            <li style="margin-bottom: 10px; "><b>@Model.Description</b></li>
            <li style="margin-bottom: 10px; "><b>Calories : @Model.Calories</b></li>
            <li style="margin-bottom: 10px; "><b>Tastiness : @Model.Tastiness</b></li>

    </div>
    <div style="display: flex; justify-content: space-around;">
        <form asp-action="Delete" asp-controller="Home" asp-route-id="@Model.DishId" method="post">
            <button type="submit"  class="btn btn-danger">Delete</button>
        </form>
           
           <a asp-action="EditDish" asp-controller="Home" asp-route-id="@Model.DishId" class="btn btn-primary" >Edit</a>
         
    </div>
</div>