@{
    #pragma warning disable CS8602
    #pragma warning disable CS8629
    int currentUserId = (int)Context.Session.GetInt32("UserId");
}

@model List<Post>

@if (Model != null && Model.Count == 0)

{
    <h3 class="bg-warning text-center">There's still no Posts !</h3>
}
else
{ 
<div class="containerPost">
@foreach(Post post in Model){
  <div class="post">
    <img src="@post.Image" alt="Post Image">
    <a asp-action="showOne" asp-controller="Post" asp-route-PostId="@post.PostId" ><h2>@post.Title</h2></a>
    <p>By: @post.Creator.Name</p>
    <p>Medium : @post.Medium</p>
        @{
      var timeSincePosted = DateTime.Now - post.CreatedAt;
      var hours = timeSincePosted.Hours;
      var minutes = timeSincePosted.Minutes;
    }

    <p><span style="color: purple;">Posted @if(timeSincePosted.Hours > 0){
    @timeSincePosted.Hours @(timeSincePosted.Hours == 1 ? "hour" : "hours")
  }
  @if(timeSincePosted.Hours > 0 && timeSincePosted.Minutes > 0){
    <text> and </text>
  }
  @if(timeSincePosted.Minutes > 0){
    @timeSincePosted.Minutes @(timeSincePosted.Minutes == 1 ? "minute" : "minutes") 
  } ago </span></p>


    <p>@(post.IsForSale? "For Sale" : "Not For Sale")</p>


    @* <p>
      @{var userIds = post.Likers.Select(l=>l.UserId).ToList();

       var userNames = HttpContext.Users.Select(l=>l.Name).Where(u=>u.UserId == userIds.FirstOrDefault()).ToList();

      string LastLiker = userNames.FirstOrDefault();
      List<string> OtherLikers = userNames.Skip(1).ToList();
        }
      <p>@LastLiker and @(post.Likers -1) others liked the post</p>
      
      
      </p> *@



    <div class="actions">
    @{
        bool userHasLikedPost = post.Likers.Any(like => like.UserId == currentUserId);
        if (post.UserId == currentUserId)
        {
            <a asp-action="EditPost" asp-controller="Post" asp-route-PostId="@post.PostId">Edit</a>
            <a asp-action="DeletePost" asp-controller="Post" asp-route-PostId="@post.PostId">Delete</a>
        }
        else if (!userHasLikedPost)
        {
            <form class="w-50" asp-action="LikeThePost" method="post">
                <input type="hidden" name="UserId" value="@ViewBag.UserId">
                <input type="hidden" name="PostId" value="@post.PostId">
                <button class="btn btn-warning">Like</button>
            </form>
        }
        else
        {
            <form class="w-50" asp-action="UnLikeThePost" method="post">
                <input type="hidden" name="UserId" value="@ViewBag.UserId">
                <input type="hidden" name="PostId" value="@post.PostId">
                <button class="btn btn-outline-success">UnLike</button>
            </form>
        }
    }
</div>

   </div>
} 

</div>
}