@{

#pragma warning disable CS8602

}
@model Post

<div class="row align-items-center ">
    <div class="col-6">
        <h1>@Model.Title</h1>
        <img src="@Model.Image" alt="Post Image" style="height:200px;">
        
    </div>
    <div class="col-6">
    <p>By : @Model.Creator.Name </p>
        <p>Medium : @Model.Medium</p>
        <p>@(Model.IsForSale? "For Sale" : "Not For Sale")</p>
    <p>@Model.Likers.Count Likes</p>
    <p>
         @if (@Model.UserId == ViewBag.UserId)
                        {
                            <a asp-action="EditPost" asp-controller="Post" asp-route-PostId="@Model.PostId">Edit</a>
                            <a asp-action="DeletePost" asp-controller="Post" asp-route-PostId="@Model.PostId" style="margin-right: 10px;">Delete</a>
                        }
        else if(ViewBag.Like == false)
            
            {
        
            <form class="w-50" asp-action="LikeThePost" method="post">
                <input type="hidden" asp-for="UserId" value="@ViewBag.UserId">
                <input type="hidden" asp-for="PostId" value="@Model.PostId">
                 <button class="btn btn-warning">Like</button>
            </form>
            }
            else
            {
                <form class="w-50" asp-action="UnLikeThePost" method="post">
                <input type="hidden" asp-for="UserId" value="@ViewBag.UserId">
                <input type="hidden" asp-for="PostId" value="@Model.PostId">
                 <button class="btn btn-outline-success">UnLike</button>
                </form>
               
            }
    </p>
    </div>

</div>